<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @user.name %> <%= "さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1"><%= @user.name %></th>
            <td class="table__col2"><%= "ユーザー名" %></td>
          </tr>
          <tr>
            <th class="table__col1"><%= @user.profile %></th>
            <td class="table__col2"><%= "ユーザーのプロフィール" %></td>
          </tr>
          <tr>
            <th class="table__col1"><%= @user.occupation %></th>
            <td class="table__col2"><%= "ユーザーの所属" %></td>
          </tr>
          <tr>
            <th class="table__col1"><%= @user.position %></th>
            <td class="table__col2"><%= "ユーザーの役職" %></td>
          </tr>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= @user.name %> <%= "さんのプロトタイプ" %>
      </h2>
      <div class="user__card">
        <%= render partial: "prototypes/prototype", collection: @prototypes %>
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
      </div>
    </div>
  </div>
</div>